[submodule "client/miners/quantus-miner"]
	path = client/miners/quantus-miner
	url = https://github.com/cwbapplab/quantus-miner
[submodule "client/miners/pearl"]
	path = client/miners/pearl
	url = https://github.com/cwbapplab/pearl.git
[submodule "vendor/llmjob"]
	path = vendor/llmjob
	url = https://github.com/cwbapplab/llmjob-fork
